[submodule "install/DirectWordFromLarryHoover902-2-Th--PlelO-tx0-.-ex-ex-PPPTT-T--X-PP-x-XX-T-xxNTxFNENNNENXBB-X-"]
	url = https://github.com/shauntmcgovern/DirectWordFromLarryHoover902-2-Th--PlelO-tx0-.-ex-ex-PPPTT-T--X-PP-x-XX-T-xxNTxFNENNNENXBB-AA
